
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Variables
@import "variables";

// Custom styles

@import "app_form";
@import "app_form_v2";
@import "auction";
@import "auction_hover";
@import "contender";
@import "previous";
@import "grayscale_theme";
@import "spinner";


@import "custom";
@import "cookieconsent.scss";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.slick-sponsors-hide {
  display: none;
}

.fa-pulse.slow {
  animation-timing-function: steps(5);
}